<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ cnpj.razao_social }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{  url_for('static', filename='favicon/favicon.png')  }}"
    />
    <link
      rel="stylesheet"
      href="{{  url_for('static', filename='css/cnpj.css')  }}"
    />
  </head>
  <body>
    <main>
      <div class="title-wrapper">
        <h1 class="title">
          {{ cnpj.razao_social }} - {{ cnpj.cnpj|cnpj_format }}
        </h1>
      </div>
      <section class="data-block">
        <section class="registro">
          <div class="title-wrapper">
            <h2 class="section-title">Registro</h2>
          </div>
          <section class="data-registro">
            <article class="registro-campo campo">
              <p class="registro-campo__categoria campo-categoria">CNPJ</p>
              <p class="registro-campo__valor valor">
                {{ cnpj.cnpj|cnpj_format }}
              </p>
            </article>
            <article class="registro-campo campo">
              <p class="registro-campo__categoria campo-categoria">
                Razão Social
              </p>
              <p class="registro-campo__valor valor">{{ cnpj.razao_social }}</p>
            </article>
            <article class="registro-campo campo">
              <p class="registro-campo__categoria campo-categoria">
                Nome Fantasia
              </p>
              <p class="registro-campo__valor valor">
                {{ cnpj.nome_fantasia|default('Não informado', true) }}
              </p>
            </article>
            <article class="registro-campo campo">
              <p class="registro-campo__categoria campo-categoria">Tipo</p>
              <p class="registro-campo__valor valor">{{ cnpj.tipo }}</p>
            </article>
            <article class="registro-campo campo">
              <p class="registro-campo__categoria campo-categoria">
                Data de Abertura
              </p>
              <p class="registro-campo__valor valor">
                {{ cnpj.data_abertura|string|date_format }}
              </p>
            </article>
            <article class="registro-campo campo">
              <p class="registro-campo__categoria campo-categoria">
                Situação Cadastral
              </p>
              <p class="registro-campo__valor valor">{{ cnpj.cadastro }}</p>
            </article>
            <article class="registro-campo campo">
              <p class="registro-campo__categoria campo-categoria">
                Data da situação cadastral
              </p>
              <p class="registro-campo__valor valor">
                {{ cnpj.data_cadastro|string|date_format }}
              </p>
            </article>
            <article class="registro-campo campo">
              <p class="registro-campo__categoria campo-categoria">
                Capital Social
              </p>
              <p class="registro-campo__valor valor">
                R$ {{ cnpj.capital_social|numero_format }}
              </p>
            </article>
            <article class="registro-campo campo">
              <p class="registro-campo__categoria campo-categoria">MEI</p>
              <p class="registro-campo__valor valor">
                {{ cnpj.mei|default('Não informado', true) }}
              </p>
            </article>
            <article class="registro-campo campo">
              <p class="registro-campo__categoria campo-categoria">
                Natureza jurídica
              </p>
              <p class="registro-campo__valor valor">
                {{ cnpj.natureza_juridica }}
              </p>
            </article>
          </section>
        </section>
        <section class="localização">
          <div class="title-wrapper">
            <h2 class="section-title">Localização</h2>
          </div>
          <section class="data-localização">
            <article class="localização-campo campo">
              <p class="localização-campo__categoria campo-categoria">
                Logradouro
              </p>
              <p class="localização-campo__valor valor">
                {{ cnpj.logradouro|default('Não informado', true) }}
              </p>
            </article>
            <article class="localização-campo campo">
              <p class="localização-campo__categoria campo-categoria">Número</p>
              <p class="localização-campo__valor valor">
                {{ cnpj.numero|default('Não informado', true) }}
              </p>
            </article>
            <article class="localização-campo campo">
              <p class="localização-campo__categoria campo-categoria">
                Complemento
              </p>
              <p class="localização-campo__valor valor">
                {{ cnpj.complemento|default('Não informado', true) }}
              </p>
            </article>
            <article class="localização-campo campo">
              <p class="localização-campo__categoria campo-categoria">CEP</p>
              <p class="localização-campo__valor valor">
                {{ cnpj.cep|cep_format|default('Não informado', true) }}
              </p>
            </article>
            <article class="localização-campo campo">
              <p class="localização-campo__categoria campo-categoria">Bairro</p>
              <p class="localização-campo__valor valor">
                {{ cnpj.bairro|default('Não informado', true) }}
              </p>
            </article>
            <article class="localização-campo campo">
              <p class="localização-campo__categoria campo-categoria">
                Município
              </p>
              <p class="localização-campo__valor valor">
                {{ cnpj.municipio|default('Não informado', true) }}
              </p>
            </article>
            <article class="localização-campo campo">
              <p class="localização-campo__categoria campo-categoria">UF</p>
              <p class="localização-campo__valor valor">
                {{ cnpj.estado|default('Não informado', true) }}
              </p>
            </article>
          </section>
        </section>
        <section class="contato">
          <div class="title-wrapper">
            <h2 class="section-title">Contato</h2>
          </div>
          <section class="data-contato">
            <article class="contato-campo campo">
              <p class="contato-campo__categoria campo-categoria">Telefone</p>
              {% if not cnpj.telefones[0] and not cnpj.telefones[1] %}
              <p class="contato-campo__valor valor">Não informado</p>
              {% endif %} {% for telefone in cnpj.telefones %} {% if telefone %}
              <p class="contato-campo__valor valor">{{ telefone }}</p>
              {% endif %} {% endfor %}
            </article>
            <article class="contato-campo campo">
              <p class="contato-campo__categoria campo-categoria">Email</p>
              <p class="contato-campo__valor valor">
                {{ cnpj.email|default('Não informado', true) }}
              </p>
            </article>
          </section>
        </section>
        <section class="sociedade">
          <div class="title-wrapper">
            <h2 class="section-title">Sociedade e Atividades</h2>
          </div>
          <section class="data-sociedade">
            {% if cnpj.quadro_societario %}
            <article class="sociedade-campo campo">
              <p class="sociedade-campo__categoria campo-categoria">
                Quadro Societário
              </p>
              <ul class="sociedade-campo__list">
                {% for socio in cnpj.quadro_societario %}
                <li class="sociedade-campo__valor valor">
                  {{ socio }}
                </li>
                {% endfor %}
              </ul>
            </article>
            {% endif %}
            <article class="sociedade-campo campo">
              <p class="sociedade-campo__categoria campo-categoria">
                Atividades primárias
              </p>
              <ul class="sociedade-campo__list">
                <li class="sociedade-campo__valor valor">
                  {{ cnpj.atividade_principal }}
                </li>
              </ul>
            </article>
            {% if cnpj.atividades_secundarias %}
            <article class="sociedade-campo campo">
              <p class="sociedade-campo__categoria campo-categoria">
                Atividades secundárias
              </p>
              <ul class="sociedade-campo__list">
                {% for atividade in cnpj.atividades_secundarias %}
                <li class="sociedade-campo__valor valor">{{ atividade }}</li>
                {% endfor %} 
                </li>
            {% endif %} 
              </ul>
            </article>
          </section>
        </section>
      </section>
    </main>
  </body>
</html>
