<form class='login__form' name='login' id="login" action="{{ url_for('login.login') }}" method="post" hx-swap-oob="true" hx-boost="false"
    x-data="{ email: '', password: '', get isFilled() { return !(Boolean(this.email) && Boolean(this.password)) } }" hx-ext="alpinemorph">
    {% if messages.login %}
    {% set class = "input--error" %}
    {% else %}
    {% set class = "" %}
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div>
        <label for="login-email">E-mail</label>
        <input class="input {{ class }}" name='login-email' id="login-email" type="email" placeholder="Digitar email"
            x-model="email">
    </div>
    <div>
        <label for="password">Senha</label>
        <input class="input {{ class }}" name='login-password' id='login-password' type="password" placeholder="Digitar senha"
            x-model="password">
        {% if messages.login %}
        <p class="error-msg">* E-mail e/ou senha inválidos</p>
        {% endif %}
    </div>
    <button class="btn" :class="isFilled ? 'btn--grey': ''" form="login" :disabled="isFilled">
        Acessar conta
    </button>
</form>
