<form class="account-create__form" name="create_account" id="create_account" method="post"
    action="{{ url_for('login.signup') }}" hx-boost="false" hx-ext="alpinemorph" hx-swap-oob="true"
    x-data="{ name: '',
              email: '',
              password: '',
              passwordConfirmed: '',
              get samePasswords() { return this.password === this.passwordConfirmed },
              get isFilled() { return !(Boolean(this.email) && Boolean(this.password) && Boolean(this.name) && Boolean(this.passwordConfirmed) && this.samePasswords) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div>
        {% if messages.name %}
        <label for="account_name input--error" name="create-account" id="create-account">Nome</label>
        <input class="input" type="text" id="account_name" name="account_name" placeholder="Digitar nome" x-model="name"
            required>
        <p class="error-msg">{{ messages.name }}</p>
        {% else %}
        <label for="account_name" name="create-account" id="create-account">Nome</label>
        <input class="input" type="text" id="account_name" name="account_name" placeholder="Digitar nome" x-model="name"
            required>
        {% endif %}
    </div>
    <div>
        {% if messages.email %}
        <label for="account_email input--error">E-mail</label>
        <input class="input" type="text" id="account_email" name="account_email" placeholder="Digitar email"
            x-model="email" required>
        {% for message in messages.email %}
        <p class="error-msg">{{ message }}</p>
        {% endfor %}
        {% else %}
        <label for="account_email">E-mail</label>
        <input class="input" type="text" id="account_email" name="account_email" placeholder="Digitar email"
            x-model="email" required>
        {% endif %}
    </div>
    <div>
        {% if messages.password %}
        <label for="account_password input--error">Senha</label>
        <input class="input" type="password" id="account_password" name="account_password" placeholder="Digitar senha"
            x-model="password" required>
        {% for message in messages.password %}
        <p class="error-msg">{{ message }}</p>
        {% endfor %}
        {% else %}
        <label for="account_password">Senha</label>
        <input class="input" type="password" id="account_password" name="account_password" placeholder="Digitar senha"
            x-model="password" required>
        {% endif %}
    </div>
    <div>
        <label for="account_password_2">Confirmar senha</label>
        <input class="input" type="password" id="account_password_2" name="account_password_2"
            placeholder="Digitar a mesma senha" x-model="passwordConfirmed" :class="samePasswords ? '' : 'input--error'"
            required>
        <p class="error-msg" x-show="!samePasswords">* senhas diferentes</p>
    </div>
    <button class="btn" :class="isFilled ? 'btn--grey': ''" form="create_account" :disabled="isFilled">
        Criar conta
    </button>
</form>
