{% macro input_text(name, placeholder, name_in_form) %}
    <article class="form_field">
        <label class="form_field__label" for="{{ name }}">{{ name_in_form }}</label>
        <input class="form_field__input"
               name="{{ name }}"
               type="text"
               id="{{ name }}"
               placeholder="{{ placeholder }}" />
    </article>
{% endmacro %}
{% macro input_check(name, value, name_in_form, two_columns_input = false) %}
    {% if two_columns_input == true %}
        {% set field_class = "form_field-check two-columns-field" %}
    {% else %}
        {% set field_class = "form_field-check" %}
    {% endif %}
    <article class="{{ field_class }}">
        <input class="form_field-check__input"
               type="checkbox"
               name="{{ name }}"
               id="{{ name }}"
               value="{{ value }}" />
        <label class="form_field-check__label" for="{{ name }}">{{ name_in_form }}</label>
    </article>
{% endmacro %}
{% macro input_date(name, placeholder, name_in_form) %}
    <article class="form_field">
        <label class="form_field__label" for="{{ name }}">{{ name_in_form }}</label>
        <input class="form_field__input"
               type="date"
               name="{{ name }}"
               id="{{ name }}"
               placeholder="{{ placeholder }}" />
    </article>
{% endmacro %}
{% macro input_select() %}
    <article class="form_field">
        <label class="form_field__label" for="situacao_cadastral">Situação cadastral</label>
        <select class="form_field__input"
                name="situacao_cadastral"
                id="situacao_cadastral">
            <option value="2">ATIVA</option>
            <option value="8">BAIXADA</option>
            <option value="4">INAPTA</option>
            <option value="3">SUSPENSA</option>
            <option value="1">NULA</option>
        </select>
    </article>
{% endmacro %}
