{% import "components/form/components-form.j2" as components %}
<article class="filters">
    <form name="form"
          id="form"
          class="filters__form"
          hx-post="{{ url_for('home.busca') }}"
          hx-swap="outerHTML"
          hx-target=".results"
          hx-indicator=".loader--result, .loaded-content"
          @htmx:before-request='$dispatch("scroll-to-results")'
          hx-ext="alpine-morph"
          x-data>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {{ components.input_text('termo', 'Razão social ou nome fantasia', 'Razão social ou nome fantasia') }}
        {{ components.input_text('atividade_principal', 'Código ou nome da atividade', 'Atividade principal(CNAE)') }}
        {{ components.input_text('natureza_juridica', 'Código ou nome da natureza', 'Natureza Jurídica') }}
        {{ components.input_select() }}
        {{ components.input_text('uf', 'Ex: sp, mg, go...', 'Estado (UF)') }}
        {{ components.input_text('municipio', 'Ex: sao paulo, rio de janeiro...', 'Munícipio') }}
        {{ components.input_text('bairro', 'Ex: jardim industrial, jardim são dimas...', 'Bairro') }}
        {{ components.input_text('cep', 'Ex: 12227650, 75960970...', 'CEP') }}
        {{ components.input_text('ddd', 'Ex: 12, 32, 55...', 'DDD') }}
        {{ components.input_date('data_abertura_desde', 'dd/mm/aaaa', 'Data de Abertura - A partir de') }}
        {{ components.input_date('data_abertura_ate', 'dd/mm/aaaa', 'Data de Abertura - Até') }}
        {{ components.input_text('capital_social_desde', 'A partir de', 'Capital Social - A partir de') }}
        {{ components.input_text('capital_social_ate', 'Até', 'Capital Social - Até') }}
        <div class="form_field-checks">
            {{ components.input_check('somente_mei', 'S', 'Somente MEI') }}
            {{ components.input_check('somente_matriz', '1', 'Somente Matriz') }}
            {{ components.input_check('com_contato_telefonico', 'True', 'Com contato de telefone', true) }}
            {{ components.input_check('somente_fixo', 'fixo', 'Somente fixo') }}
            {{ components.input_check('com_email', 'True', 'Com e-mail') }}
            {{ components.input_check('excluir_mei', 'S', 'Excluir MEI') }}
            {{ components.input_check('somente_filial', '2', 'Somente filial') }}
            {{ components.input_check('somente_celular', 'movel', 'Somente celular') }}
        </div>
        <button class="form_field__btn btn" form="form">Pesquisar</button>
    </form>
</article>
