<!DOCTYPE html>
<html lang="pt-BR">

{% include 'componentes/cabeçalho.html' %}

<body>
  <main>
    <section id="section-1">
      <article class="scav">
        <h1 class="scav__title">Scav<span class="purple">.</span></h1>
        <p class="scav__sub-title">
          Encontre e baixe empresas de todo o Brasil
        </p>
        {% include 'componentes/barra-de-pesquisa.html' %}
      </article>
    </section>
    <section id="section-2">
      <div class="app">
        {% include 'componentes/formulario.html' %}
        {% include 'componentes/resultados.html' %}
      </div>
    </section>
    <section id="section-3">
      <article class="pricing">
        <h2 class="pricing__title">
          <span class="caixa-alta">R$ 0,01</span> centavo por empresa
        </h2>
        <p class="pricing__text">
          Baixe e pague através do pix ou no cartão de crédito com <br />
          parcelamento em até 6 vezes
        </p>
      </article>
    </section>
  </main>
  <footer>
    <article class="footer">
      <p class="footer__first-p">Scav.cc</p>
      <p class="footer__second-p">®Todos os direitos reservados</p>
    </article>
  </footer>
</body>

</html>