<section id="section-3">
    <article>
        <div>
            <p>R$ 0,01</p>
            <p>Por empresa</p>
            <p>
                Baixe e pague através do pix ou no cartão de crédito
                com parcelamento em até 6 vezes
            </p>
        </div>
        <div>
            <img src="{{ url_for('static', filename='imgs/pricing-img.png') }}"
                 alt="rapaz-com-celular-na-mão"
                 width="450px"
                 height="450px">
        </div>
    </article>
</section>
