{% import 'components/loading.j2' as components %}
<section id="section-2">
    <div class="app loaded-content--scav" x-ref="app">
        {% include "components/filter_form.j2" %}
        {% include "components/result.j2" %}
        {{ components.loader("loader--result") }}
    </div>
</section>
