<section id="section-3">
    <article class="pricing">
        <h2 class="pricing__title">
            <span class="caixa-alta">R$ 0,01</span> centavo por empresa
        </h2>
        <p class="pricing__text">
            Baixe e pague através do pix ou no cartão de crédito com
            <br />
            parcelamento em até 6 vezes
        </p>
    </article>
</section>
