<section id="section-1">
    <article class="scav">
        <h1 class="scav__title">
            Scav<span class="purple">.</span>
        </h1>
        <p class="scav__sub-title">Encontre e baixe empresas de todo o Brasil</p>
        {% include "components/search-bar.j2" %}
    </article>
</section>
