<dialog class="popup" @popup.window="$el.showModal()" x-ref="popup" x-data="{tela: 0}">
    <section class="popup__section--pricing popup__section" x-show="tela === 0">
        <div class="pricing popup__section-wrapper">
            <div class="pricing__icons" @click="$refs.popup.close()">
                <img class=" logo-icon" src="{{  url_for('static', filename='imgs/icon.png')  }}" alt="Scav logo"
                    height="40px" width="40px">
                <i class="fa-solid fa-x close modal-close"></i>
            </div>
            <div class="pricing-wrapper">
                <div class="pricing__block">
                    <h2 class="pricing-title">Você está baixando <b class="n-dados">
                        {{ n_de_dados| numero_format }}
                        </b>contatos da segmentação definida.
                        <p class="pricing-total-value">Valor total</p>
                        <p class="pricing-price">R$ {{ preço }}</p>
                </div>
                <div class="pricing__btns">
                    <p class="pricing__disclaimer">Esse é o nosso limite por download. Você poderá realizar novos
                        downloads
                        posteriormente alterando os filtros do seu pedido</p>
                    <button class="pricing__first-btn popup__btn btn" @click="tela = 1">Baixar</button>
                </div>
            </div>
        </div>
    </section>
    <section class="popup__section--payment popup__section" x-show="tela === 1">
        <div class="payment popup__section-wrapper">
            <div class="payment__icons">
                <i id="payment-pricing-arrow" class="fa-solid fa-arrow-left arrow-btn" @click="tela = 0"></i>
                <i class="fa-solid fa-x close" @click="$refs.popup.close()"></i>
            </div>
            <div class="payment__bottom">
                <form class="payment-form" id="payment-form" name="payment-form" hx-post="{{  url_for('download.download')  }}" hx-swap="none">
                    <input id="token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <a target="_blank" href="https://docs.google.com/document/d/1JnnJBcxQFvwNYtmcp3nK9EPAcZ_fP6wD_kOSzbXKM4E/edit?usp=sharing">
                    Termos de Uso e Política de Privacidade
                    </a>
                    </p>
                    <input class="payment__btn popup__btn btn" type="submit" value="Confirmar" name="pay-btn"
                    form="payment-form" @click="tela = 2">
                </form>
            </div>
        </div>
    </section>
    <section class="popup__section--end popup__section" x-show="tela === 2">
        <div class="end popup__section-wrapper">
            <div class="end__block">
                <img src="{{  url_for('static', filename='imgs/ok.png')  }}" alt="Envio confirmado!">
                <p class="end__text">Informações enviadas <br>com sucesso!</p>
            </div>
            <button class="end__btn popup__btn btn" @click="$refs.popup.close(); tela = 0">Fechar</button>
        </div>
    </section>
</dialog>