<section class="functionalities">
    <div>
        <a class="feature__name"
           hx-get="{{ url_for("componentes.lists") }}"
           hx-target=".view"
           hx-swap="outerHTML">Listas</a>
    </div>
    <hr class="horizontal-line">
</section>
