:root {
  --black: #1a161a;
  --purple: #800080;
  --dark-purple: #590059;
  --grey: rgba(26, 22, 26, 0.546);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 400;
}

body {
  background-color: #f5f5f5;
}

input:focus,
input:active,
select:focus,
select:active {
  outline-color: var(--purple);
}

button,
input[type="button"] {
  display: block;
}

input[type="checkbox"] {
  accent-color: var(--purple);
}

img {
  display: block;
}

/* General Classes */
.disabled {
  pointer-events: none;
  cursor: default;
}

.color-red {
  color: #bc0404 !important;
}

.outline-red {
  outline-color: #bc0404 !important;
}

.purple {
  color: var(--purple);
}

.caixa-alta {
  font-size: clamp(2rem, 8vw, 5.85rem);
}

.btn {
  background-color: var(--purple);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.5s;
}

.btn:hover {
  background-color: var(--dark-purple);
  cursor: pointer;
}

/* Modal window */
.popup {
  border: none;
  border-radius: 4px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: min(80%, 600px);
  width: max(40%, 300px);
}

.popup::backdrop {
  background-color: rgb(0 0 0 /0.2);
  backdrop-filter: blur(3px);
}

.popup__section {
  padding: 5%;
  height: 100%;
  width: 100%;
}

.popup__section-wrapper {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
}

.popup__section--visu,
.popup__section--payment,
.popup__section--end {
  display: none;
}

.close {
  background-color: var(--purple);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: block;
  padding: 1rem;
  max-width: 2.9rem;
  margin-bottom: 2rem;
}

.logo-icon {
  margin-top: 0.5rem;
}

.arrow-btn {
  color: var(--purple);
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* Popup - Pricing */
.pricing-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.pricing-title {
  font-size: 1.5rem;
  line-height: 1.5;
}

.n-dados {
  font-size: 1.75rem;
  font-weight: 600;
}

.pricing-total-value {
  color: #858185;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 0.8;
  margin-top: 1.75rem;
}

.pricing-price {
  font-size: 1.75rem;
}

.pricing__icons {
  display: flex;
  justify-content: space-between;
}

.pricing__btns {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: auto;
}

.pricing__disclaimer {
  color: rgba(26, 22, 26, 0.4);
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  text-align: center;
}

.popup__btn {
  font-size: 1rem;
  font-weight: 500;
  min-height: 2.7rem;
  width: 100%;
}

.pricing__second-btn {
  border: 1px solid var(--purple);
  border-radius: 4px;
  background-color: white;
  color: var(--purple);
}

.pricing__second-btn:hover {
  background-color: white;
  color: var(--purple);
  opacity: 0.7;
}

/* Popup - Payment */
.payment {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
}

.payment__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.payment__input-email {
  display: flex;
  flex-direction: column;
}

.payment__email-label {
  font-size: 1.2rem;
}

.payment__email-subtext {
  color: var(--purple);
  font-size: 0.8rem;
  line-height: 1;
  margin-top: 0.25rem;
}

.payment__bottom {
  margin-top: auto;
}

.payment__disclaimer {
  color: rgba(26, 22, 26, 0.4);
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  text-align: center;
}

/* Popup - Last section */
.end {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
}

.end__block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-top: 5rem;
}

.end__text {
  color: #323845;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2rem;
  line-height: 1.5;
  text-align: center;
}

.end__btn {
  margin-top: auto;
}

/* first-section */
#section-1 {
  display: flex;
  padding: 10% 10% 19%;
  justify-content: center;
}

.scav {
  text-align: center;
}

.scav__title {
  color: var(--black);
  font-size: clamp(4rem, 3rem + 3.5vw, 7rem);
  font-weight: 600;
  line-height: 1.1;
}

.scav__sub-title {
  color: var(--black);
  font-size: clamp(1rem, 1rem + 0.5vw, 2rem);
  font-weight: 300;
  margin-bottom: 1.8em;
}

.scav__form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.scav__form-search-bar {
  background: #fff;
  border: 1px solid rgba(113, 112, 116, 0.2);
  border-radius: 4px;
  margin-bottom: clamp(1em, 1em + 1vw, 2.5em);
  min-height: 2.5rem;
  text-indent: 0.5rem;
  width: min(100%, 38.3125rem);
}

.scav__form-search-bar::placeholder {
  color: var(--grey);
  font-size: 0.875rem;
  text-align: center;
}

.scav__form-btn {
  height: min(9vw, 2.5rem);
  width: min(40vw, 20rem);
}

/* Second-section */
#section-2 {
  padding: 10%;
  @media (min-width: 43.75rem) {
    padding: 0 10% 10%;
  }
}

.feature {
  display: grid;
  gap: 2rem;
  @media (min-width: 43.75rem) {
    grid-template-columns: 1fr 3fr;
  }
}

.filters__form {
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  padding: 8%;
  margin-top: 0.4rem;
}

.form_camp {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form_camp__label {
  color: var(--black);
  font-size: 0.875rem;
  white-space: nowrap;
  word-wrap: none;
}

.form_camp__input {
  border: 2px solid #f5f5f5;
  border-radius: 8px;
  min-height: 2.5rem;
  text-indent: 0.7em;
}

.form_camp__input::placeholder {
  color: var(--grey);
  font-size: 0.75rem;
}

.atv_secondary__label {
  color: var(--black);
  font-size: 0.7rem;
  font-weight: 500;
}

.form_camp-checks {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  @media (min-width: 1350px) {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 0.6rem;
  }
}

.com-telefone {
  @media (min-width: 1350px) {
    grid-column: 1/3;
    grid-row: 3;
  }
}

.form_camp-check__label {
  font-size: 0.7rem;
  font-weight: 500;
}

.form_camp__btn {
  height: min(9vw, 2.5rem);
}

.form_camp__btn:hover {
  background-color: var(--dark-purple);
  cursor: pointer;
}

.results {
  margin-top: 2.5rem;
  @media (min-width: 43.75rem) {
    margin-top: 0;
  }
}

.baixar-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 193px;
  height: 40px;
  @media (min-width: 700px) {
    margin-top: 0.4rem;
  }
}

.cnpjs {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  @media (min-width: 56.25rem) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
}

.search-results__summary {
  display: flex;
  flex-direction: column;
}

.search-results__title {
  color: #25212f;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.n-cnpjs {
  color: rgba(37, 33, 47, 0.856);
  font-size: clamp(0.9rem, 1.3vw, 1.25rem);
  font-weight: 700;
}

.cnpj__state-block {
  border-radius: 12px;
  height: fit-content;
  padding-inline: 1.5rem;
}

.cnpj__state {
  font-size: 0.75rem;
  font-weight: 600;
}

.cnpj__state-block--green {
  background-color: #e4faf3;
}

.cnpj__state-block--grey {
  background-color: #f1f1f1;
}

.cnpj__state--green {
  color: #009d65;
}

.cnpj__state--grey {
  color: #3e363e;
}

.search-results__text {
  color: #717074;
  font-size: clamp(0.8rem, 0.5rem + 1vw, 1rem);
}

.cnpj-link-wrapper {
  text-decoration: none;
}

.cnpj {
  background-color: white;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 1.5% 2.5%;
}

.cnpj__razao-social {
  color: #1a161a;
  font-size: clamp(0.75rem, 2vw, 1.25rem);
  margin-bottom: 0.5rem;
}

.cnpj__cnpj,
.cnpj__city-state {
  color: #858185;
  font-size: clamp(0.6rem, 1.5vw, 0.875rem);
}

.cnpjs-indexes {
  display: flex;
  gap: 0.25rem;
  @media (min-width: 900px) {
    gap: 0.75rem;
  }
}

.cnpjs-indexes__index {
  border-radius: 4px;
  color: var(--black);
  font-size: 14px;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  @media (min-width: 900px) {
    padding: 0.5rem 1rem;
  }
}

.cnpjs-indexes__index--purple {
  background-color: var(--purple);
  color: white;
}

/* last-section */
#section-3 {
  background-color: var(--purple);
  color: white;
  padding: 20% 10%;
  text-align: center;
  @media (min-width: 700px) {
    padding: 10% 10%;
  }
}

.pricing__title {
  font-size: clamp(1rem, 0.5rem + 1.5vw, 2.5rem);
}

.pricing__text {
  font-size: clamp(0.5rem, 0.5rem + 0.5vw, 1.75rem);
  font-weight: 300;
}

.footer {
  background-color: var(--purple);
  color: white;
  padding: 0 5% 5%;
}

.footer__first-p {
  font-size: clamp(1rem, 1rem + 0.5vw, 1.5rem);
  font-weight: 300;
}

.footer__second-p {
  color: rgba(255, 255, 255, 0.75);
  font-size: clamp(0.5rem, 0.5rem + 0.5vw, 1.125rem);
  font-weight: 500;
}
