{% import 'pages/base.j2' as base %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {{ base.head() }}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Área de usuários logados do Scav">
        <title>Scav - Área Logada</title>
        <script defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12"
                integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
                crossorigin="anonymous"></script>
        <script src="//unpkg.com/alpinejs" defer></script>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/pages/login.css') }}" />
    </head>
    <body x-data="{ logged: true }">
        {% include "layouts/login/sidebar.j2" %}
        {% include "layouts/login/account-bar.j2" %}
        {% include "layouts/login/lists-table.j2" %}
    </body>
</html>
