{% macro loader(loader_class) %}
    <section class="loader {{ loader_class }}">
        <div>
            <span class="circle-loader"></span>
        </div>
        <h2>Carregando informações...</h2>
    </section>
{% endmacro %}
