<section class="login-popup">
    <section class="popup-block" x-data="{ state: 'login' }">
        <article class="login__aside">
            <p>Scav.</p>
            <p>Sua plataforma de Pesquisa Empresarial</p>
            <p>Encontre e baixe as informações desejadas de CNPJs de todo Brasil</p>
        </article>
        <div class="login">
            {% block login_form %}
            <article class="account-login" x-show="state === 'login'">
                <h2>Olá, que bom te ver aqui!</h2>
                <form class='login__form' name='login' id="login" hx-post="{{ url_for('login.login') }}" hx-swap="outerHTML" hx-target=".account-login"
                    x-data="{ email: '', password: '', get isFilled() { return !(Boolean(this.email) && Boolean(this.password)) } }"
                    hx-ext="alpinemorph">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div>
                        <label for="login-email">E-mail</label>
                        <input class="input {{ messages.check_input_error('login') }}" name='login-email'
                            id="login-email" type="email" placeholder="Digitar email" x-model="email">
                    </div>
                    <div>
                        <label for="password">Senha</label>
                        <input class="input {{ messages.check_input_error('login') }}" name='login-password'
                            id='login-password' type="password" placeholder="Digitar senha" x-model="password">
                        <p class="error-msg">{{ messages.login }}</p>
                    </div>
                    <button class="btn" :class="isFilled ? 'btn--grey': ''" form="login" :disabled="isFilled">
                        Acessar conta
                    </button>
                </form>
                <p>
                    Ainda não tem conta? <a class="change-section purple" @click="state = 'create'">Criar conta</a>
                </p>
            </article>
            {% endblock %}
            {% block register_form %}
            <article class="account-create" x-show="state === 'create'">
                <h2>Criar conta</h2>
                <form class="account-create__form " name="create_account" id="create_account"
                    hx-post="{{ url_for('login.signup') }}" hx-ext="alpinemorph" hx-swap="outerHTML"
                    hx-target=".account-create"
                    x-data="{ name: '',
                              email: '',
                              password: '',
                              passwordConfirmed: '',
                              get samePasswords() { return this.password === this.passwordConfirmed },
                              get isFilled() { return !(Boolean(this.email) && Boolean(this.password) && Boolean(this.name) && Boolean(this.passwordConfirmed) && this.samePasswords) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div>
                        <label for="account_name"
                            name="create-account" id="create-account">Nome</label>
                        <input class="input {{ messages.check_input_error('register_email') }}" type="text" id="account_name" name="account_name"
                            placeholder="Digitar nome" x-model="name" required>
                        <p class="error-msg">{{ messages.register_name }}</p>
                    </div>
                    <div>
                        <label for="account_email">E-mail</label>
                        <input class="input {{ messages.check_input_error('register_email') }}" type="text" id="account_email" name="account_email"
                            placeholder="Digitar email" x-model="email" required>
                        {% for message in messages.register_email %}
                        <p class="error-msg">{{ message }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label
                            for="account_password">Senha</label>
                        <input class="input {{ messages.check_input_error('register_email') }}" type="password" id="account_password" name="account_password"
                            placeholder="Digitar senha" x-model="password" required>
                        <p class="error-msg">{{ messages.register_password }}</p>
                    </div>
                    <div>
                        <label for="account_password_2">Confirmar senha</label>
                        <input class="input" type="password" id="account_password_2" name="account_password_2"
                            placeholder="Digitar a mesma senha" x-model="passwordConfirmed"
                            :class="samePasswords ? '' : 'input--error'" required>
                        <p class="error-msg" x-show="!samePasswords">* senhas diferentes</p>
                    </div>
                    <button class="btn" :class="isFilled ? 'btn--grey': ''" form="create_account" :disabled="isFilled">
                        Criar conta
                    </button>
                </form>
                <p>
                    Já possui conta? <a class="change-section purple" @click="state = 'login'">Fazer login</a>
                </p>
            </article>
            {% endblock %}
        </div>
    </section>
</section>