<footer>
    <article>
        <p>Scav.</p>
        <p>®Todos os direitos reservados</p>
        <p>Encontre e baixe empresas de todo Brasil</p>
        <div class="social-media-icons">
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </article>
    <article class="footer__links">
        <a href="#section-2">Pesquisar</a>
        <a href="#section-3">Perguntas frequentes</a>
        <a href="https://docs.google.com/document/d/1JnnJBcxQFvwNYtmcp3nK9EPAcZ_fP6wD_kOSzbXKM4E/edit?usp=sharing">Política
        de privacidade</a>
        <a href="https://docs.google.com/document/d/1JnnJBcxQFvwNYtmcp3nK9EPAcZ_fP6wD_kOSzbXKM4E/edit?usp=sharing">Termos
        de uso</a>
    </article>
</footer>
