{% import 'components/loading.j2' as components %}

{% set scav %}
{% include "components/forms/filter_form.j2" %}
{% include "components/result/result.j2" %}
{% endset %}

{% if tipo == 'login' %}
<section class="view view--scav" x-data="{ target: '.view', swap: 'innerHTML'}">
	<section class="anchor-to-scroll">
		<article>
			<h2>Nova lista</h2>
		</article>
	</section>
	<div class="app loaded-content--scav" x-ref="app">
		{{ scav }}
		{{ components.loader("loader--result loader--login") }}
	</div>
</section>
{% else %}
<div class="app loaded-content--scav" x-ref="app">
	{{ scav }}
	{{ components.loader("loader--result") }}
</div>
{% endif %}
